body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
}
header {
  background: #ffe812;
  color: #000;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#chat-list {
  padding: 1em;
}
#chat-window {
  padding: 1em;
}
#messages {
  height: 300px;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.5em;
  margin-bottom: 1em;
}
#messageInput {
  width: 70%;
}